@import "vars"
/*==========  Desktop First  ==========*/

+media-breakpoint-down(xl)
        .card
            min-height: 450px
+media-breakpoint-down(lg)
    #submitApp  
        .wrapper
            width: 380px
            padding: 50px
            height: 380px
    #Why
        #card
            min-height: 150px
    .card
        margin-right: 15px
        min-width: 320px
        min-height: 450px
    .slider-caption
        position: absolute
        top: 5%
        left: 15%
    .table-bandge
        width: auto
    .subbutton1
        position: absolute
        right: 15px
        bottom: 0
+media-breakpoint-down(md)
    #logo
        padding: 5px
    #mobileLogo
        padding: 5px 15px
    .container
        min-width: 100%
    .nav-item
        font-family: 'Ubuntu-Medium'
        padding: 15px 0px
        border-bottom: 2px solid #5fb3b4
        padding-left: 1rem;
        a
           color: #ffffff
        .thin
            font-family: 'Ubuntu-Regular'
            font-weight: normal
            font-size: 14px
    #mobileMenu
        .navbar-nav
            width: 100%
            text-align: left
            font-size: 16px
            padding-top: 15px
        .navbar
            padding: 0
    #Why
        p
            font-size: 14px
        #card
            min-height: 120px
    #mobileApp
        #mobileAppImg
            bottom: 0px
    .slider-caption
        position: absolute
        top: 5%
        left: 15%
        width: 80%
        text-align: center
    .table-bandge
        width: 100%

+media-breakpoint-down(sm)
    .togglerButton
        margin-top: 0px
    #rowLogoAndMenu
        position: static
    .customer-photo
        padding-bottom: 20px
    #footer
        text-align: center
        div
            margin-bottom: 10px
    #mobileAppImg
        bottom: 0px
    .slider-caption
        position: absolute
        top: 5%
        left: 35%
        width: 30%
        text-align: center
    .table-bandge
        width: 100%
    .slide-button
        margin-bottom: 20px
    #toTop
        opacity: 0.6
    .subbutton1
        position: absolute
+media-breakpoint-down(xs)
    .navbar-toggler
        background-color: #ffe400;
        padding: 0.5rem 0.5rem
        border-radius: 0
    .slide-caption
        h1
            font-size: 32px
    #submitApp
        overflow: hidden 
    .padding-none
        padding-left: 0
        padding-right: 0
    #news .card
        margin-right: 0
    .slide-button
        margin-bottom: 20px
    #about
        margin-left: -40px
   
    /*==========  Mobile First  ==========*/

+media-breakpoint-up(xs)

+media-breakpoint-up(sm)
    .navbar-toggler
        background-color: #ffe400;
        padding: 1.99rem 2.1rem
        border-radius: 0
    .madeby
        text-align: left
+media-breakpoint-up(md)
    #playbackYellow
        bottom: 0px
        right: 0px
    .madeby
        text-align: right
+media-breakpoint-up(lg)
    #Why
        #card
            min-height: 150px
+media-breakpoint-up(xl)
