@import "node_modules/bootstrap/scss/bootstrap"
@import "vars"
@import "fonts"

body
    background-color: #fafafa
    font-family: 'Roboto-Light'
    font-size: 14px
    color: #676767
h1, h2, h3, h4 
    font-family: 'Ubuntu-Medium'
    color: #000000
h1
    font-size: 48px
h2
    font-size: 36px
h3
    font-size: 24px
h4
    font-size: 22px
    padding-bottom: 20px
h5
    font-size: 18px
    padding-bottom: 20px
a
   color: #169e9d
p
    font-family: 'Roboto-Light'
    font-size: 16px
    color: #676767
.card
    border-radius: 0
    border: 0
.container
    overflow: hidden
#topContacts
    background-color: #000000
    color: #c7c7c7
    padding: 8px
    a
        color: #37a0a1
#rowLogoAndMenu
    background-color: #ffffff
    z-index: 50
#logo
    padding: 0px 5px 0px 20px;     
#info
    color: #848484
    padding-top: 25px
    padding-left: 25px
#callback
    text-decoration: underline
    text-decoration-color: #169e9d
    padding-top: 25px
    font-family: 'Ubuntu-Medium'
    a
        color: #169e9d
#mobileIcon
    margin-right: 7px
#tooglericon
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(34,34,34, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
#closeIcon
    background-image:  url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(34,34,34, 1)' stroke-width='0' stroke-linecap='round' stroke-miterlimit='10' d='M17.71 17.71a.99.99 0 0 1-1.4 0L10 11.4l-6.31 6.31a.99.99 0 1 1-1.4-1.4L8.6 10 2.29 3.69a.99.99 0 1 1 1.4-1.4L10 8.6l6.31-6.31a.99.99 0 1 1 1.4 1.4L11.4 10l6.31 6.31a.99.99 0 0 1 0 1.4z'/%3E%3C/svg%3E")
    z-index: 110
.dnone
    display: none
#mobileMenu
    position: fixed
    z-index: 100
    top: 0
    background-color: #37a0a1
    .nav-item
        font-family: 'Ubuntu-Regular'
        font-size: 17px
        padding: 10px 0px 10px 20px
        margin-right: 0px
    a:hover
        color: #ffffff
    .button
        padding: 12px 25px
        box-shadow: none
.extmobile
    margin-top: 20px
    color: #ffffff
    margin-left: 
    a
        color: #ffffff
.menuCallback
    margin: 20px 18px
.button
    color: #000000
    background-color: #ffe400
    border-radius: 3px
    font-family: 'Ubuntu-Medium'
    padding: 8px 25px
    box-shadow: 0 0 10px rgba(0,0,0,.5)
.navbar
    padding-bottom: 0
.navbar-nav
    font-family: 'Ubuntu-Medium'
    padding: 0
    margin: 0
    font-size: 16px
    letter-spacing: 0.5px;
    li.active
        border-bottom: 3px solid #ffe400
    li.active a
        color: #37a0a1
.nav-item
    position: relative
    margin-right: 25px
    padding-bottom: 10px
    overflow: hidden
    color: #000000
    a
        color: #000
        padding-right: .5rem
        padding-left: .5rem
    a:hover
        color: #37a0a1

#yellow
    position: absolute
    height: 4px
    width: 100%
    bottom: 0px
    background-color: #ffe400
#yellow2
    position: absolute
    height: 4px
    width: 100%
    bottom: 0px
    background-color: #ffe400
    right: 0px
    
.closeSubmenu
    padding: 20px 0px
    margin: 0px 70px 0px 40px
    cursor: pointer
#closeSubIcon
    background-image:  url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M17.71 17.71a.99.99 0 0 1-1.4 0L10 11.4l-6.31 6.31a.99.99 0 1 1-1.4-1.4L8.6 10 2.29 3.69a.99.99 0 1 1 1.4-1.4L10 8.6l6.31-6.31a.99.99 0 1 1 1.4 1.4L11.4 10l6.31 6.31a.99.99 0 0 1 0 1.4z'/%3E%3C/svg%3E")
    display: block
    height: 15px
    width: 15px
.subnavbar
    width: 100%
    background-color: #37a0a1
.subnavbar-nav
    font-family: 'Ubuntu-Medium';
    padding: 0;
    margin: 0;
    margin-right: 0px;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #ffffff
    display: flex
    list-style: none
    
    li.active
        border-bottom: 3px solid #ffe400
    li.active a
        color: #37a0a1  
.subnav-item
    margin-right: 70px
    padding: 15px 0px
    position: relative
    a
        color: #ffffff
        text-decoration: none
.subnavbar-nav
    li.active
        a
            color: #ffffff
.breadcrumb
    background: none
    margin-top: 20px
    padding-left: 0px
    padding-bottom: 0px
    margin-bottom: 0px
    font-size: 17px
    font-family: 'Roboto-Light'
    li:active
        color: #37a0a1 
.divider
    font-size: 16px
    padding: 0px 10px
.slider
    position: relative
    overflow: hidden
.slider-caption
    position: absolute
    top: 10%
    left: 10%
.slide-caption
    color: #000000
    h1
        margin-bottom: 8%
    button
        margin-top: 5%
.owl-stage-outer
    margin: 0 -15px
    max-height: 400px
.b01
    background: linear-gradient(to right, #e7ecf0, #f4f5f9)
    min-height: 316px
    border-bottom: 1px solid #ccc;
.b01Hover
    background: linear-gradient(to right, #37a0a1, #288b8c)
    min-height: 316px
    p,h4
        color: #ffffff
.block-image
    background-repeat: no-repeat
    background-position: 100% 10%
    height: 100%
.blockNumber
    color: #c6d2dc
    font-size: 54px
    padding-top: 10px
    padding-bottom: 30px
.block-caption
    h4
        padding-bottom: 10px
        margin-top: 50px;
#about
    background-color: #ffffff
    padding-top: 70px
    ul
        list-style-image: url(../images/plus.png);
        list-style-position: outside
        font-size: 16px
        line-height: 24px
        padding-top: 5px
        li
            margin-top: 20px
#aboutProgramm
    h2
        padding-bottom: 15px

#submitApp
    padding-bottom: 40px  
    input[type=text]
        padding: 10px
        border: 0
        margin: 3px 0
        min-width: 230px;
        text-align: center
    .wrapper
        width: 420px
        background: #ffe400
        padding: 70px 80px
        border-radius: 240px
        text-align: center
        height: 422px
        overflow: hidden
        h3
            text-align: center
            margin-bottom: 20px
        button
            background: #37a0a1
            font-family: 'Ubuntu-Medium'
            color: #ffffff
            margin-top: 8px
#numeral
    margin-top: 20px
    background: #000000
    min-height: 300px
    margin-bottom: 40px
    #num-note
        color: #ffffff
        margin-top: 10px
        clear: both
        padding-top: 20px
    .minimap
       background-image: url('/templates/nadezhda/images/map.png')
       height: 182px
       width: 100%
       background-repeat: no-repeat
       background-position-x: center
       color: #ffffff
       font-size: 50px
#Why
    margin-top: 70px
    h2
        text-align: center
        width: 100%
        margin-bottom: 70px
    #card
        background: #ffffff
        padding: 10px
        margin-bottom: 20px
        margin-right: 5px
        margin-left: 5px
        border: 1px solid #ccc
    #buttonAll
        margin: 40px 0px
#video
    margin-top: 40px
    margin-bottom: 30px
.video-wrapper
    background-image: url('../images/video.jpg')
    height: 398px
    h2,p
        color: #ffffff
    button
        background: #37a0a1
        font-size: 16px
        color: #ffffff
        margin-bottom: 10px
        font-family: 'Ubuntu-Regular'
        box-shadow: 0 0 0px rgba(0,0,0,.5);
    button:hover
        color: #ffffff
        box-shadow: 0 0 6px rgba(0,0,0,.5);
    .modal-dialog 
        max-width: 800px
        margin: 30px auto
    .modal-body 
        position: relative
        padding: 0px
    .close 
        position: absolute
        right: -30px
        top: 0
        z-index: 999
        font-size: 2rem
        font-weight: normal
        color: #fff
        opacity: 1

#integration
    margin-top: 70px
    margin-bottom: 20px
    padding-top: 20px
    background: #ffffff
    h2
        padding: 10px
        margin-left: 20px
    ul
        list-style-image: url(../images/plus.png);
        list-style-position: outside
        font-size: 16px
#news
    overflow: hidden
    margin-bottom: 15px
    .card
        margin-top: 20px
        margin-right: 10px
        overflow: hidden
    h2
        text-align: center
        width: 100%
        margin-bottom: 30px
    a
        color: #000000
        text-decoration: none
        text-align: center
        overflow: hidden
        max-height: 185px
    .img-block
        position: relative
        z-index: 15
    .slick-slide img
        display: inline
.news-img
    width: 100%
.news-date
    background: #ffe400
    color: #000000
    font-size: 14px
    z-index: 160
    padding: 5px 10px
    margin-top: -30px
    width: 100px
    text-align: center
#testimonials
    background: #ffffff
    margin-top: 70px
    padding-bottom: 70px
    h3
        margin: 20px 0px
        width: 100%
    #playbackYellow
        position: absolute
        cursor: pointer
#mobileApp
    background: #37a0a1
    color: #ffffff
    h2
        color: #ffffff
    #mobileAppImg
        position: relative
        bottom: 70px
    ul
        list-style-image: url(../images/plus-white.png);
        list-style-position: outside
        font-size: 16px
    span
        color: #ffffff
#footer
    font-size: 12px
    background: #ffffff
    .footer-info
    .footer-logo

    .footer-submenu1
        font-family: 'Ubuntu-Medium'
        font-weight: bold
        list-style: none
        font-size: 14px
        li
            margin-bottom: 12px
        a
            color: #000000
    .footer-submenu2
        font-size: 12px
        list-style: none
        li 
            margin-bottom: 8px 
        a
            color: #676767
    .contact-phone
        font-size: 12px
        margin-bottom: 0
    .contanct-phone-text
        color: #000000
        font-weight: bold
        margin-bottom: 5px
        font-size: 14px
#bottom
    font-size: 12px
    color: #676767
#joomly-callback-close107
    position: absolute
    top: -20px
    right: -30px
    font-size: 34px
    background: #ffe400
    padding: 10px 15px
    border-radius: 50%
    color: #000000
#callback-alert-close107, #callback-alert-close97,#callback-alert-close109
    position: absolute
    top: -20px
    right: -30px
    font-size: 34px
    background: #ffe400
    padding: 10px 15px
    border-radius: 50%
    color: #000000
.modal-button
    color: #ffffff
    padding: 10px 40px
    border-radius: 10px
    background: #169e9d
.confidentiality
    font-size: 14px
    padding: 10px 0px 0px
.page-header
    padding: 20px 0px
.articleBody
    ul
        list-style-image: url(/templates/nadezhda/images/9e690effe099824c7f31c32be00270f6.png)
        list-style-position: outside
        font-size: 17px
        line-height: 1.8em
    p
        padding: 5px 0
#cinfo
    background: #ffffff
    margin-bottom: 15px
    padding: 20px 30px
    color: #000
    font-size: 14px

#cform
   background: #ffffff
   margin-bottom: 15px
   padding: 30px
   font-size: 14px
   line-height: 18px
   input[type="text"]
        height: 45px
        padding: 6px 8px
        box-sizing: border-box !important
        -webkit-box-sizing: border-box !important
        -moz-box-sizing: border-box !important
        width: 100%
        border: 0
        border-radius: 5px
        background: #f5f5f5
        margin-bottom: 15px
#message
    border-radius: 5px
    background: #f5f5f5
    margin-bottom: 15px
    border: 0
    width: 100%
    padding: 6px 8px
#props
    background: #ffffff
    padding: 20px 30px  
    margin-bottom: 15px
.cseparator
    margin-top: 15px
#actions
    margin-top: 10px
    .card
        overflow: hidden
        margin-bottom: 20px
    a
        color: #000000
.page-link 
    position: relative
    display: block
    padding: .6rem .95rem
    margin-left: -1px
    line-height: 1.25
    color: #169e9d
    background-color: #fff
    border: none
.page-item.active .page-link
    background-color: #ffe400
    color: #000000
.disabled 
    a
        position: relative
        display: block
        padding: .6rem .95rem
        margin-left: -1px
        line-height: 1.25
        color: #ccc
        background-color: #fff
        border: none
.pagination
    font-size: 16px
    .counter
        padding: .5rem .75rem
        margin-top: 10px
#subscribe
    background-color: #169e9d
    margin-bottom: 20px
    .background
        background-image: url(../images/bigMail.png)
        min-height: 295px
        background-repeat: no-repeat
        background-position: 50% 50%
    h4,p
        color: #ffffff
    input[type="email"]
        border: 0
        border-radius: 5px
        width: 400px
        background: #ffffff
        padding: 10px
        cursor: auto
.testImg
    width: 210px
.lang-inline a
    color: #848484
.lang-active a
    color: #37a0a1
    text-decoration: underline
    font-weight: bold
#langs
    padding-top: 26px
#mobileLang
    color: #37a0a1
    cursor: pointer
    font-size: 14px
#spoiler
    padding: 12px 25px
    font-family: 'Ubuntu-Medium'
    box-shadow: 1px 2px 7px #37a0a1
#toTop 
    width: 60px
    height: 60px
    border-radius: 30px
    background: #37a0a1
    color: #fff
    position: fixed
    bottom: 30px
    right: 5%
    display: none
    font-size: 34px
    opacity: 0.8
    padding-top: 5px
    cursor: pointer
#playbackButton
    cursor: pointer
.subbutton1
    box-shadow: none
.onefield
    position: relative
@import "media" // Always at the end	